.App {
  text-align: center;
  font-family: 'Roboto',sans-serif;
  max-width: 350px;
  max-height: 400px;
  background: #FDFDFC;
  overflow: hidden;
}

.input {
  z-index: 2;
  position: absolute;
  top: 58px;
  left: 23px;
  border: none;
  border-radius: 20px;
  background:#FDFDFC;
  width: 305px;
  height: 42px;
  box-shadow: 4px 4px 10px 0px rgba(255, 255, 255, 0.50), -4px -4px 10px 0px rgba(24, 40, 84, 0.20);
  color: #707B96;
  font-size: 16px;
  padding-left: 18px;
  box-sizing: border-box;
}
.input:focus {
  outline: none;
  border: none;
}
.button {
  position: absolute;
  top: 66px;
  left: 284px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.hide {
  display: none;
}
.default-text {
  color: #59422C;
  font-size: 16px;
  font-weight: 400;
  margin: 142px 41.5px 0px 41.5px;
  text-align: left;
  z-index: 2;
}
span {
  font-family: 'Roboto Serif', serif;
  font-weight: 600;
}

.term-text {
  z-index: 2;
  width: 268px;
  text-align: left;
  box-sizing: border-box;
}
.term-text h3{
  position: absolute;
  top: 142px;
  left: 41px;
  width: 268px;
  color: #7E6B59;
  font-family: Roboto Serif;
  font-size: 18px;
  font-weight: 600;
}
.term-text p{
  position: absolute;
  top: 173px;
  left: 41px;
  width: 268px;
  color: #182854;
  font-size: 16px;
  line-height: 120%;
}


footer {
  margin: 0px 41.5px 31px 41.5px;
  position: fixed; 
  bottom: 0%;
  line-height: 75%;
  z-index: 2;
}
i {
  color: #182854;
  text-align: center;
  font-size: 11px;
}

.top-blur {
  position: absolute;
  top: -37px;
  left: 82px;
  width: 285px;
  height: 155px;
  background: conic-gradient(from 180deg at 50% 50%, #005696 0deg, #005696 80.99990665912628deg, #7E6B59 180.37490844726562deg, #7E6B59 210.37490129470825deg, #00366F 360deg);
  filter: blur(40px);
  z-index: 1;
}
.bottom-blur {
  position: absolute;
  top: 291px;
  left: -96px;
  width: 232px;
  height: 155px;
  background: conic-gradient(from 180deg at 50% 50%, #005696 0deg, #D7E6F1 80.99990665912628deg, #7E6B59 180.37490844726562deg, #DED0C4 210.37490129470825deg, #DCE6EF 360deg);
  filter: blur(40px);
  z-index: 1;
}